<nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #8cddff;">
    <h1 class="navbar-brand" href="#">Kwetter</h1>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="loadProfile(user)" style="cursor: pointer;" >Profile</a>
        </li>
        <!-- Login stuffs -->
        <div *ngIf="!auth.isLoggedIn()">
          <li>
              <a class="nav-link" [routerLink]="['/login']">Login</a>
          </li>
        </div>
        <div *ngIf="!auth.isLoggedIn()">
          <li>
              <a class="nav-link" [routerLink]="['/register']">Register</a>
          </li>
        </div>
        <div *ngIf="auth.isLoggedIn()">
          <li>
            <a class="nav-link" [routerLink]="['/logout']">Logout</a>
          </li>
        </div>
      </ul>
    </div>
  </nav>